.idea
categorized_nicknames.json
filtered_user_names.json
data_analysis\__pycache__
VDatabase
users.json
processed_user_names.json
test_categorized_nicknames.json
train_categorized_nicknames.json
.venv
tokenizer.json
nickname_classifier.h5
__pycache__